doctype html
html
  head
    title= 'error page'
    link(href='/v' + version + '/dist/css/errorpage.css', rel="stylesheet")
  body
      h1.error-word 不好意思发生错误！
      p.error-link
        a(href="/", alt="回首页") 回首页
      div.error-img
        img(src='/v' + version + '/dist/images/common/error.gif')
